.cart-items ul{
    list-style: none;
}

.cart-item{
    display: flex;
    background-color: gray;
}

.cart-item-desc{
    margin-left: 50px;
    width: 300px;
    background-color: black;
    color: antiquewhite;
    margin-top: 0%;
    border-radius: 10%;
}

.image-zoom-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image-zoom-wrapper:hover .zoom-image {
  transform: scale(2); /* or 1.5 or 2.5 depending on how much zoom you want */
  transform-origin: center; /* can also try 'top left' or 'mouse position' with JS */
}


.cart-item-amount{
    margin-top: 70px;
    margin-left: 550px;
}

.cart-item-empty{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;      
}

.billing h1{
    margin-left: 30px;
}

.billing-details{
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
}

.billing-details-total{
    display: flex;
    margin-left: 200px;
}

.billing-details-total p{
    width: 200px;
}