.cart-items ul{
    list-style: none;
}

.cart-item{
    display: flex;
    background-color: gray;
}

.cart-item-desc{
    padding-top: 10px;
    margin-left: 50px;
    width: 300px;
    color: white;
    margin-top: 0%;
}

.image-zoom-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image-zoom-wrapper:hover .zoom-image {
  transform: scale(2); /* or 1.5 or 2.5 depending on how much zoom you want */
  transform-origin: center; /* can also try 'top left' or 'mouse position' with JS */
}


.cart-item-amount{
    margin-top: 70px;
    margin-left: 550px;
}

.cart-item-empty{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;      
}

.billing h1{
    margin-left: 30px;
}

.billing-details{
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
}

.billing-details-total{
    display: flex;
    margin-left: 200px;
}

.billing-details-total p{
    width: 200px;
}

.customer-details h1{
    margin-left: 30px;
}

.customer-details-form{
    display: flex;
    justify-content: center;
}


.spinner-container {
  margin-top: 200px;
  margin-left: 550px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
