.shop{
    display: flex;
    /* background-color: grey; */
    margin-top: 0px;
    width: relative;
    
}

.shop-navbar{
    padding-top: 60px;
}

.shop-navbar h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 25px;
}

.shop-navbar ul{
    list-style: none;
    padding-right: 50px;
}

.shop-navbar li.active{
    color: orange;
}

.shop-navbar ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}

.shop-navbar ul li:hover{
   cursor: pointer;
   color: yellow;
}

.products{
    width: 80%;
}

.shop-products {
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 20px; /* space between grid items */
    justify-items: center; /* centers items horizontally within their grid cells */
  }
  

.shop-search-product-form{
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
}

.shop-search-product-input{
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 600px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.shop-search-product-icon:hover{
    cursor: pointer;
}


.spinner-container {
  margin-top: 200px;
  margin-left: 550px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
