.send-email-pass-reset-email-form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.send-email-pass-reset-email-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
}

.send-email-pass-reset-form-group {
  display: flex;
  flex-direction: column;
}

.send-email-pass-reset-form-group input{
  padding: 8px;
  font-size: 16px;
}

.send-email-pass-reset-email-form button{
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
